doctype html
| PASTE YOUR HTML CODE HE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About Us - Daycare
  link(rel='stylesheet' href='/css/about.css')
h1(style='text-align: center;') ABOUT US
.container
  .card
    h2 The Mission
    p
      | The mission of this Daycare is to ensure high-quality well-being of the babies and ensure that they are healthy and happy.
  .card
    h2 The Vision
    p
      | The vision of the Daycare is to be considered the best daycare within Kampala within a period of four years.
  .card
    h2 The Core Values
    ol
      li Obedience
      li Hardwork
      li Care
      li Community
a.login-button(href='First_page.html') GET STARTED
