<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us - Daycare</title>
<link rel="stylesheet" href="/css/about.css">

</head>
<body>

<h1 style="text-align: center;">ABOUT US</h1>

<div class="container">
  <div class="card">
    <h2>The Mission</h2>
    <p>The mission of this Daycare is to ensure high-quality well-being of the babies and ensure that they are healthy and happy.</p>
  </div>

  <div class="card">
    <h2>The Vision</h2>
    <p>The vision of the Daycare is to be considered the best daycare within Kampala within a period of four years.</p>
  </div>

  <div class="card">
    <h2>The Core Values</h2>
    <ol>
      <li>Obedience</li>
      <li>Hardwork</li>
      <li>Care</li>
      <li>Community</li>
    </ol>
  </div>
</div>

<a href="First_page.html" class="login-button">GET STARTED</a>
</body>
</html>
